<ion-header [translucent]="true">
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ isChatLoading ? 'Memuat...' : chat.send_to_username }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!isLoading && messages" class="pt-4 ion-padding">
    <div *ngFor="let item of messages" class="clearfix">
      <div *ngIf="!item.is_creator" class="w-3/4 mx-0 my-1">
        <div class="bg-gray-300 rounded-lg">
          <div *ngIf="item.product" routerLink="{{ item.orderitem ? '/order/' + item.orderitem.order_uuid : '/product/' + item.product.uuid }}" class="bg-red-200 rounded-t-lg p-2 mb-1">
            <p class="text-md">{{ item.product.name }}</p>
            <p class="leading-none text-sm">Rp {{ item.product.price | number }}</p>
          </div>

          <p class="p-2">{{ item.message }}</p>
          <button *ngIf="item.orderitem && item.orderitem.status == 'confirmed'" type="button" class="bg-red-500 text-sm m-2 rounded-lg p-2 pr-4 pl-4 text-white" routerLink="/payment/{{ item.orderitem.order_uuid }}">Lihat Rekening</button>
        </div>

        <span class="text-xs text-gray-600 pl-1">{{ item.create_date | date: 'HH:MM' }}</span>
      </div>

      <div *ngIf="item.is_creator" class="float-right w-3/4 mx-0 my-1 clearfix">
        <div class="bg-green-300 rounded-lg">
          <div *ngIf="item.product" routerLink="{{ item.orderitem ? '/order/' + item.orderitem.order_uuid : '/product/' + item.product.uuid }}" class="bg-red-200 rounded-t-lg p-2 mb-1">
            <p class="text-md">{{ item.product.name }}</p>
            <p class="leading-none text-sm">Rp {{ item.product.price | number }}</p>
          </div>

          <p class="p-2">{{ item.message }}</p>
          <button *ngIf="item.orderitem && item.orderitem.status == 'confirmed'" type="button" class="bg-red-500 text-sm m-2 rounded-lg p-2 pr-4 pl-4 text-white" routerLink="/payment/{{ item.orderitem.order_uuid }}">Lihat Rekening</button>
        </div>

        <span class="text-xs text-gray-600 float-right pr-1">{{ item.create_date | date: 'HH:MM' }}</span>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="bg-gray-200">
    <form [formGroup]="formFactory" (ngSubmit)="onSubmit()" class="w-full flex justify-between items-center" ngNativeValidate>
      <div class="mr-auto w-full" [ngStyle]="{'height.px': '40'}">
        <textarea
          formControlName="message"
          class="ml-2 mr-1 py-1 px-3 rounded-full border border-gray-300 bg-white resize-none w-full"
          rows="1"
          placeholder="Message..."
          style="outline: none;"
          required
          [ngStyle]="{'height.px': '40'}"
        ></textarea>
      </div>

      <div class="pl-2 pr-2">
        <ion-buttons>
          <ion-button type="button">
            <ion-icon slot="icon-only" name="image-outline"></ion-icon>
          </ion-button>

          <ion-button type="submit" [disabled]="!formFactory.valid || isSendLoading">
            <ion-icon slot="icon-only" name="send-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </form>
  </ion-toolbar>
</ion-footer>