.chat-button {
    --box-shadow: none;
}

.header-top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
}

.header-top ion-toolbar {
    --ion-color-base: transparent;
    --ion-color-base-rgb: transparent;
    --ion-color-contrast: #fff;
    --ion-color-contrast-rgb: transparent;
    --ion-color-shade: transparent;
    --ion-color-tint: transparent;
}

.product-image::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.product-image p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20px 15px 20px;
    z-index: 9;
    font-size: 20px;
    font-weight: 700;
}