<ion-header [translucent]="true">
  <ion-toolbar color="orange">
    <ion-buttons slot="start" class="ion-padding-start">
      <ion-segment [value]="segmentTarget" mode="ios" class="mini-segment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="buy">
          Beli
        </ion-segment-button>

        <ion-segment-button value="sell">
          Jual
        </ion-segment-button>
      </ion-segment>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/notification">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-segment-buy-page *ngIf="segmentTarget === 'buy'"></app-segment-buy-page>
  <app-segment-sell-page *ngIf="segmentTarget === 'sell'"></app-segment-sell-page>
</ion-content>
